In [2]:
import pandas as pd

df = pd.read_csv(r'E:\projects\toss prediction\IPL_cleandata.csv')
df.head()

,city,venue,team1,team2,toss_winner,toss_decision,winner,result
0,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs
1,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs
2,Delhi,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets
3,Mumbai,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets
4,Jaipur,Sawai Mansingh Stadium,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets

In [4]:
df.drop(['city','venue','result'] ,axis='columns',inplace=True)

In [5]:
df.head()

,team1,team2,toss_winner,toss_decision,winner
0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders
1,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings
2,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals
3,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore
4,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals

In [ ]:
#performing label encoding

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_team1 = LabelEncoder()
le_team2 = LabelEncoder()
le_toss_winner = LabelEncoder()
le_toss_decision = LabelEncoder()
le_winner = LabelEncoder()

In [10]:
df['team1_n'] = le_team1.fit_transform(df['team1'])
df['team2_n'] = le_team2.fit_transform(df['team2'])
df['toss_winner_n'] = le_toss_winner.fit_transform(df['toss_winner'])
df['toss_decision_n'] = le_toss_decision.fit_transform(df['toss_decision'])
df['winner_n'] = le_winner.fit_transform(df['winner'])

In [11]:
df.head()

,team1,team2,toss_winner,toss_decision,winner,team1_n,team2_n,toss_winner_n,toss_decision_n,winner_n
0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,6,3,6,1,3
1,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,2,0,0,0,0
2,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,1,5,5,0,1
3,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,4,6,4,0,6
4,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,5,2,2,0,5

In [12]:
df.drop(['team1','team2','toss_winner','toss_decision','winner'],axis='columns',inplace=True)

In [13]:
df.head()

   team1_n  team2_n  toss_winner_n  toss_decision_n  winner_n
0        6        3              6                1         3
1        2        0              0                0         0
2        1        5              5                0         1
3        4        6              4                0         6
4        5        2              2                0         5

In [16]:
x = df.drop(['winner_n'],axis='columns')
y = df['winner_n']

In [18]:
y.head()

0    3
1    0
2    1
3    6
4    5
Name: winner_n, dtype: int32

In [15]:
#train test split

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.95)

In [24]:
len(x_test)

32

In [14]:
# random forest algorithm

In [50]:
from sklearn.ensemble import RandomForestClassifier
model_rfc = RandomForestClassifier(n_estimators=21)

In [51]:
model_rfc.fit(x_train,y_train)

RandomForestClassifier(n_estimators=21)

In [52]:
model_rfc.predict(x_test)

array([2, 0, 6, 4, 0, 5, 0, 7, 2, 0, 0, 1, 1, 4, 3, 5, 4, 5, 4, 1, 6, 0,
       5, 4, 5, 1, 7, 0, 0, 4, 4, 6])

In [53]:
model_rfc.score(x_test,y_test)

0.65625

In [54]:
#decision tree algorithm

In [55]:
from sklearn import tree

In [56]:
model_tree = tree.DecisionTreeClassifier()
model_tree.fit(x_train,y_train)

DecisionTreeClassifier()

In [57]:
model_tree.predict(x_test)

array([2, 0, 6, 4, 0, 5, 0, 1, 1, 0, 0, 1, 1, 4, 3, 5, 4, 5, 4, 1, 6, 0,
       5, 4, 5, 1, 7, 0, 0, 4, 0, 6])

In [59]:
model_tree.score(x_test,y_test)

0.5625