In [2]:
import pandas as pd

df = pd.read_csv(r'E:\projects\toss prediction\IPL_cleandata.csv')
df.head()

,city,venue,team1,team2,toss_winner,toss_decision,winner,result
0,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs
1,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs
2,Delhi,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets
3,Mumbai,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets
4,Jaipur,Sawai Mansingh Stadium,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets

In [3]:
inputs = df.drop(['venue','toss_decision','winner','result'],axis='columns')
inputs.head()

,city,team1,team2,toss_winner
0,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore
1,Chandigarh,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings
2,Delhi,Delhi Capitals,Rajasthan Royals,Rajasthan Royals
3,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians
4,Jaipur,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le_city = LabelEncoder()
le_team1 = LabelEncoder()
le_team2 = LabelEncoder()
le_toss_winner = LabelEncoder()

In [6]:
inputs['city_n'] = le_city.fit_transform(inputs['city'])
inputs['team1_n'] = le_team1.fit_transform(inputs['team1'])
inputs['team2_n'] = le_team2.fit_transform(inputs['team2'])
inputs['toss_winner_n'] = le_toss_winner.fit_transform(inputs['toss_winner'])

In [7]:
inputs.head()

,city,team1,team2,toss_winner,city_n,team1_n,team2_n,toss_winner_n
0,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,2,6,3,6
1,Chandigarh,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,6,2,0,0
2,Delhi,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,9,1,5,5
3,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,20,4,6,4
4,Jaipur,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,16,5,2,2

In [8]:
new_inputs = inputs.drop(['city','team1','team2','toss_winner'],axis='columns')
new_inputs.head()

   city_n  team1_n  team2_n  toss_winner_n
0       2        6        3              6
1       6        2        0              0
2       9        1        5              5
3      20        4        6              4
4      16        5        2              2

In [11]:
x = new_inputs.drop(['toss_winner_n'],axis='columns')
y = new_inputs['toss_winner_n']

In [12]:
x.head()

   city_n  team1_n  team2_n
0       2        6        3
1       6        2        0
2       9        1        5
3      20        4        6
4      16        5        2

In [13]:
y.head()

0    6
1    0
2    5
3    4
4    2
Name: toss_winner_n, dtype: int32

In [14]:
from sklearn.model_selection import train_test_split

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.95)

In [ ]:
# decission tree algorithm

In [21]:
from sklearn import tree

In [22]:
model_tree = tree.DecisionTreeClassifier()

In [23]:
model_tree.fit(x_train,y_train)

DecisionTreeClassifier()

In [24]:
model_tree.predict(x_test)

array([5, 5, 1, 0, 6, 2, 3, 6, 1, 4, 6, 0, 5, 4, 1, 0, 3, 3, 0, 6, 6, 7,
       1, 6, 1, 2, 2, 1, 4, 5, 4, 0])

In [27]:
model_tree.score(x_test,y_test)

0.46875

In [ ]:
#linear regression algorithm

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
model_lr = LinearRegression()

In [30]:
model_lr.fit(x_train,y_train)

LinearRegression()

In [31]:
model_lr.predict(x_test)

array([3.80709164, 2.94356244, 3.83427714, 0.34737273, 5.24707271,
       3.13879543, 2.32290304, 4.54360036, 3.10818065, 4.67405013,
       4.15209364, 3.47911168, 4.55376382, 2.42160595, 3.46551893,
       1.82813205, 3.16941021, 1.97459615, 0.33377998, 4.15209364,
       4.15209364, 6.00390836, 3.54845627, 5.19600662, 2.48969407,
       3.63013715, 3.39412591, 1.37769297, 3.50985084, 4.43803889,
       5.07572032, 1.39128571])

In [32]:
model_lr.score(x_test,y_test)

0.4078036304193162

In [34]:
# random forest algorithm

In [59]:
from sklearn.ensemble import RandomForestClassifier
model_rfc = RandomForestClassifier(n_estimators=60)

In [60]:
model_rfc.fit(x_train,y_train)

RandomForestClassifier(n_estimators=60)

In [61]:
model_rfc.predict(x_test)

array([5, 5, 7, 0, 6, 2, 3, 6, 1, 4, 6, 0, 5, 4, 6, 0, 3, 3, 0, 6, 6, 7,
       1, 6, 4, 2, 2, 1, 4, 5, 4, 0])

In [62]:
model_rfc.score(x_test,y_test)

0.5